#post {
  padding: 20px;
}
.upboats {
  font-size: 14px;
}
#title {
  font-size: 16px;
  width: auto;
  height: auto;
}

#information {
  font-size: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
}
.greyishIDforthreadcomponent {
  color: lightslategrey;
  font-size: 1em;
}
hr {
  border-bottom: dot-dash;
}
